{% extends "admin/cms/page/change_form_original.html" %}
{% load i18n admin_modify adminmedia cms_tags cms_admin domain_tags %}
{% block object-tools %}
    {% if change %}{% if not is_popup %}
        <ul class="object-tools">
            {% if moderation_delete_request %}
                <li><a href="remove-delete-state/" class="approvelink">{% trans "Remove delete request" %}</a>
                </li>{% endif %}
            {% if moderator_should_approve %}
                <li><a href="approve/" class="approvelink">
                    {% if moderation_delete_request %}{% trans "Approve delete" %}{% else %}{% trans "Approve" %} {% trans "draft" %}{% endif %}</a>
                </li>
                <li><a href="{% if current_site_id %}{% ifnotequal current_site_id page.site.id %}http
                        {% if request.is_secure %}s{% endif %}://{{ page.site.domain }}{% endifnotequal %}{% endif %}{{ page.get_absolute_url }}?preview&draft=1"
                       class="previewdraftlink">{% trans "Preview" %} {% trans "draft" %}</a></li>
            {% endif %}

            <li><a href="history/" class="historylink">{% trans "History" %}</a></li>

            {% if has_absolute_url %}
                <li><a href="http://{{page.get_absolute_url|preview_link_with_domain:language }}?preview"
                       class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
        </ul>
    {% endif %}{% endif %}
{% endblock %}